@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
  font-family: "Quicksand", sans-serif;
}

.react-calendar {
  width: 100%; /*Denna ändrar så det blir ovalt, fixa det!*/
  max-width: 100%;
  background-color: #057fa8;
  color: #f8f8f8;
  line-height: 1.825em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.react-calendar__navigation button {
  color: #ffffff;
  min-width: 34px;
  background: none;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}
.react-calendar__navigation button[disabled] {
  background-color: transparent;
}
abbr[title] {
  text-decoration: none;
}
/* ÄNDRAR HELGENS FÄRGER 
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
*/
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #ffffff;
  border-radius: 50%;
}

/* DENNA ÄNDRAR DAGENS DATUM */
.react-calendar__tile--now {
  /* background: #c53c2a; */
  border-radius: 50%;
  font-weight: bold;
  color: black;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #fff;
  border-radius: 50%;
  font-weight: bold;
  color: #ffffff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background: #ffffff;
  border-radius: 50%;
  font-weight: bold;
  color: #057fa8;
}

/* DENNA ÄNDRAR MARKERINGEN PÅ DATUMET */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #ffffff;
  color: #057fa8;
}

/*Dashborad Calendar*/

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  margin-left: 24px;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 165px;
  height: 175px;
  margin-right: 12px;
  border-radius: 10px;

  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  border: 3px solid #057fa8;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* MODAL CSS */
.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  margin-bottom: -285px;
  width: 375px;
  height: 378px;
  padding: 1rem;
  border-radius: 1rem;
}
